{% extends 'base.html' %}
{% block title %}慕学在线-授课机构{% endblock %}
{% block content %}
    <!--crumbs start-->

    <div class="wp">
        <div class="list" style="margin-top:0;">
            <div class="left layout">
                <div class="head">
                    <ul class="tab_header">
                        <li class="active"><a href="?sort=">最新 </a></li>
                        <li><a href="?sort=hot">最热门</a></li>
                        <li><a href="?sort=students">参与人数</a></li>
                    </ul>
                </div>


                <div id="inWindow">
                    <div class="tab_cont " id="content">
                        <div class="group_list">
                            {% for cou in courses.object_list %}
                                <div class="box">
                                    <a href="course-detail.html">
                                        <img width="280" height="350" class="scrollLoading"
                                             data-url="/media/{{ cou.image }}"/>
                                    </a>
                                    <div class="des">
                                        <a href="course-detail.html">
                                            <h2>{{ cou.name }}</h2>
                                        </a>
                                        <span class="fl">时长：<i class="key">{{ cou.learn_times }}</i></span>
                                        <span class="fr">学习人数：{{ cou.students }}&nbsp;</span>
                                    </div>
                                    <div class="bottom">
                                        <a href="course-detail.html"><span class="fl">来自慕学网666</span></a>
                                        <span class="star fr  notlogin
                                        " data-favid="15">
                                        0
                                    </span>
                                    </div>
                                </div>

                            {% endfor %}
                            <div class="pageturn">
                                <ul class="pagelist">
                                    {% if courses.has_previous %}
                                        <li class="long"><a href="?{{ courses.previous_page_number.querystring }}"
                                                            class="page">上一页</a></li>
                                    {% endif %}
                                    {% for page in courses.pages %}
                                        {% if page %}
                                            {% ifequal page courses.number %}
                                                <li class="active"><a
                                                        href="?{{ page.querystring }}">{{ page }}</a>
                                                </li>
                                            {% else %}
                                                <li class="page"><a href="?{{ page.querystring }}"
                                                >{{ page }}</a>
                                                </li>
                                            {% endifequal %}
                                        {% else %}
                                            <li class="none">...</li>
                                        {% endif %}
                                    {% endfor %}
                                    {% if courses.has_next %}
                                        <li class="long"><a href="?{{ courses.previous_page_number.querystring }}"
                                                            class="page">下一页</a></li>

                                    {% endif %}


                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="right layout">
                <div class="head">热门课程推荐</div>
                <div class="group_recommend">

                    <dl>
                        <dt>
                            <a target="_blank" href="">
                                <img width="240" height="220" class="scrollLoading"
                                     src="../media/courses/2020/05/neusoft.jpg"/>
                            </a>
                        </dt>
                        <dd>
                            <a target="_blank" href=""><h2> django与vuejs实战项目2</h2></a>
                            <span class="fl">难度：<i class="key">高级</i></span>
                        </dd>
                    </dl>

                    <dl>
                        <dt>
                            <a target="_blank" href="">
                                <img width="240" height="220" class="scrollLoading"
                                     src="../media/courses/2020/05/neusoft.jpg"/>
                            </a>
                        </dt>
                        <dd>
                            <a target="_blank" href=""><h2> python面向对象</h2></a>
                            <span class="fl">难度：<i class="key">中级</i></span>
                        </dd>
                    </dl>

                    <dl>
                        <dt>
                            <a target="_blank" href="">
                                <img width="240" height="220" class="scrollLoading"
                                     src="../media/courses/2020/05/neusoft.jpg"/>
                            </a>
                        </dt>
                        <dd>
                            <a target="_blank" href=""><h2> python文件处理</h2></a>
                            <span class="fl">难度：<i class="key">中级</i></span>
                        </dd>
                    </dl>


                </div>
            </div>
        </div>
    </div>





{% endblock %}




{% block custom_js %}
    <script type="text/javascript" src="/static/js/index.js"></script>
{% endblock %}